<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'bootstrap.css', :plugin => 'redmine_mtr' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', :plugin => 'redmine_mtr' %>
    <%= stylesheet_link_tag 'bootstrap-theme.css', :plugin => 'redmine_mtr' %>
    <%= stylesheet_link_tag 'bootstrap-theme.min.css', :plugin => 'redmine_mtr' %>
    <%= stylesheet_link_tag 'styles.css', :plugin => 'redmine_mtr' %>

    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>
<% end %>

<div id="login-form" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <%= form_tag(signin_path) do %>
        <%= back_url_hidden_field_tag %>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="container col-md-12">Login</h1>
                </div>
                <div class="modal-body form-group">
                    <div style="padding-top: 5px;">
                        <%= text_field_tag 'username', params[:username], :tabindex => '1', :class => 'form-control input-lg',
                                           :class => 'login-input', :style => 'width: 100%'%>
                    </div>
                    <div style="padding-top: 5px;">
                        <%= password_field_tag 'password', nil, :tabindex => '2', :class => 'form-control input-lg',
                                               :class => 'login-input', :style => 'width: 100%'%>
                    </div>
                    <div style="padding-top: 5px;">
                        <input type="submit" style="height: 38px" class="form-control input-lg btn btn-danger" name="login" value="<%=l(:button_login)%> &#187;" tabindex="5"/>
                    </div>
                    <div style="padding-top: 5px;">
                        <label for="autologin"><%= check_box_tag 'autologin', 1, false, :tabindex => 4 %> <%= l(:label_stay_logged_in) %></label>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<% if params[:username].present? %>
    <%= javascript_tag "$('#password').focus();" %>
<% else %>
    <%= javascript_tag "$('#username').focus();" %>
<% end %>