<% content_for :header_tags do %>

    
    <%= stylesheet_link_tag "report.css", :plugin => "redmine_zz5" %>
    <%= javascript_include_tag "helpers.js", :plugin => 'redmine_zz5' %>
    <%= javascript_include_tag "report_helper.js", :plugin => 'redmine_zz5' %>
    
    <script>
        var first_date = jQuery.parseJSON(<%=array_or_string_for_javascript(get_min_dates.to_json).html_safe%>);
        var last_date = jQuery.parseJSON(<%=array_or_string_for_javascript(get_max_dates.to_json).html_safe%>);
        var current_user = "<%= User.current.id%>";
    </script>

<% end %>

<h2><%= l(:zz5_time_report) %></h2>

<%= form_tag("/zz5/report_show", remote: false, :id => "report_form", :name => "report_form") do %>

    <fieldset class="attributes">
        <div class="splitcontent">
            <div class="splitcontentleft">
                <div class="splitcontent">
                    <div class="splitcontentleft">
                        <p>
                            <label for="start_date" class="from-to"><%= l(:zz5_absence_from) %></label>
                            <%= text_field_tag "start_date", @report_start_date.strftime("%Y-%m-%d"), :size => 10 %><%= calendar_for("start_date", get_min_dates[User.current.id] , get_max_dates[User.current.id]) %>
                        </p>
                    </div>
                    <div class="splitcontentright">
                        <p>
                            <label for="end_date" class="from-to"><%= l(:zz5_absence_to) %></label>
                            <%= text_field_tag "end_date", @report_end_date.strftime("%Y-%m-%d"), :size => 10 %><%= calendar_for("end_date", get_min_dates[User.current.id] , get_max_dates[User.current.id]) %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="splitcontentright">

                <% if User.current.allowed_to?(:manage_zz5, nil, :global => true) %>
                    <p>
                        <label class="user"><%= l(:field_user) %></label>
                            <%= select("user_select", "user_id", @users.collect { |u| [ u.lastname + ", " + u.firstname, u.id ] }, { :selected => @user_id }, {:onchange => "updateDatePickerRestrictions(this.value)" }) %>
                    </p> 
                <% end %>

            </div>
        </div>
    </fieldset>

    <p class="buttons hide-when-print">
        <%= link_to_function l(:button_apply), "document.getElementById('report_form').submit()", :class => "icon icon-checked" %>
        <%= link_to l(:button_clear), "/zz5/report", :class => "icon icon-reload"  %>
    </p>

<%end%>

<table class="list" id="time-report">
    <thead>
        <th></th>
        <th><%= l(:zz5_target_time) %></th>
        <th><%= l(:zz5_actual_time) %></th>
        <th><%= l(:zz5_time_difference) %></th>
        <th><%= l(:zz5_absence_comp_time) %></th>
        <th><%= l(:zz5_absence_vacation) %></th>
        <th><%= l(:zz5_absence_sick) %></th>
        <th><%= l(:zz5_absence_special_vacation) %></th>
        <th><%= l(:zz5_absence_care) %></th>
        <th><%= l(:zz5_time_account) %></th>
    </thead>
    <tbody>

    <%
        vacation_entitlement    = @zz5_work_period.get_vacation_entitlement_in_days(@report_start_date)
        work_week_sum           = Array.new(8, 0)
        work_month_sum          = Array.new(8, 0)
        work_year_sum           = Array.new(8, 0)
        work_period_sum         = Array.new(8, 0)
        time_carry              = get_time_carry(@user_id, @report_start_date)
        display_days            = User.current.zz5_user_pref.display_days
    -%>

    <%= render :partial => "report_carry_forward_sum", :locals => {:time_carry => time_carry, :vacation_entitlement => vacation_entitlement} %>

    <% Rails.logger.info "report end date: " + @report_end_date.to_s %>

        <% @zz5_work_period.workdays.each_with_index do |zz5_work_day, index| %>
            <% Rails.logger.info "work day: " + zz5_work_day.target.to_s %>
            <% # get the result sets

               Rails.logger.info "workday date: " + zz5_work_day.date.to_s + " aaaaaab: " + zz5_work_day.absences.to_s

               if !@zz5_work_period.begin_end_times.empty? || zz5_work_day.absences != 0

                 worked = 0
                 @zz5_work_period.begin_end_times[index].each do |worktimes|
                   worked += convert_date_time_to_seconds(worktimes.end) - convert_date_time_to_seconds(worktimes.begin)
                 end

                 worked += zz5_work_day.absences
               else
                 worked = 0
               end
               absence_rs = Zz5Absence.select("duration, zz5_absence_types.name as name, zz5_absence_type_id").joins(:zz5_absence_type).where("zz5_workday_id = ?", zz5_work_day.id).first

               add_work_time(work_week_sum, convert_date_time_to_seconds(zz5_work_day.target), worked, absence_rs, zz5_work_day.date)
               add_work_time(work_month_sum, convert_date_time_to_seconds(zz5_work_day.target), worked, absence_rs, zz5_work_day.date)
               add_work_time(work_year_sum, convert_date_time_to_seconds(zz5_work_day.target), worked, absence_rs, zz5_work_day.date)
               add_work_time(work_period_sum, convert_date_time_to_seconds(zz5_work_day.target), worked, absence_rs, zz5_work_day.date)
            -%>

            <%= render :partial => "report_entry_row", :locals => {:day => zz5_work_day.date.strftime("%A").downcase, :zz5_work_day => zz5_work_day, :zz5_work_period => @zz5_work_period, :index => index,
                                                                   :worked => worked, :absence_rs => absence_rs, :display_days => display_days} %>

            <% if zz5_work_day.date == zz5_work_day.date.at_end_of_week || zz5_work_day.date == @report_end_date %>
                    <%= render :partial => "report_week_sum", :locals => {:work_week_sum => work_week_sum, :zz5_work_day => zz5_work_day} %>
                    <% work_week_sum = Array.new(8, 0) %>
            <% end %>

            <% if is_last_day_of_month(zz5_work_day.date) || zz5_work_day.date == @report_end_date %>
                    <%= render :partial => "report_month_sum", :locals => {:work_month_sum => work_month_sum, :zz5_work_day => zz5_work_day } %>
                    <% work_month_sum = Array.new(8, 0) %>
            <% end %>

            <% if is_last_day_of_year(zz5_work_day.date) || zz5_work_day.date == @report_end_date %>
                    <%= render :partial => "report_year_sum", :locals => {:work_year_sum => work_year_sum, :zz5_work_day => zz5_work_day } %>
                    <% work_year_sum = Array.new(8, 0) %>
            <% end %>

        <% end %>

    <%
        vacation_entitlement =  @zz5_work_period.get_vacation_entitlement_in_days(@report_end_date+1)
    -%>

    <%= render :partial => "report_period_sum", :locals => {:work_period_sum => work_period_sum, :time_carry => time_carry} %>
    <%= render :partial => "report_carry_over_sum", :locals => {:work_period_sum => work_period_sum, :time_carry => time_carry, :vacation_entitlement => vacation_entitlement} %>

    </tbody>
</table>

<% content_for :sidebar do %>

        <%= render :partial => "common/sidebar", :locals => {:url => "/zz5", :link_name => :zz5_title} %>

        <% if User.current.admin? %>
        <h3><%= l(:label_administration) %></h3>
        <%= link_to(l(:zz5_employment_data), "/zz5/employment") %>
        <% end %>

<% end %>
