<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'bootstrap.css', :plugin => 'redmine_mtr' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', :plugin => 'redmine_mtr' %>
    <%= stylesheet_link_tag 'bootstrap-theme.css', :plugin => 'redmine_mtr' %>
    <%= stylesheet_link_tag 'bootstrap-theme.min.css', :plugin => 'redmine_mtr' %>
    <%= stylesheet_link_tag 'styles.css', :plugin => 'redmine_mtr' %>

    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>
<% end %>

<div class="container-fluid">

    <center><h3>
        <button type="button" class="btn btn-default" aria-label="Center Align">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
        <span>17-12-2015</span>
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
    </h3>
    </center>

    <div class="row">
        <label class="col-xs-4 control-label">Arbeitszeit</label>
        <div class="col-xs-4">
            <input type="time" class="form-control" placeholder="Zeit">
        </div>

        <div class="col-xs-4">
            <input type="time" class="form-control" placeholder="Zeit">
        </div>
    </div>
    <br>

    <div class="row">
        <label class="col-xs-5 control-label">Pausendauer</label>
        <div class="col-xs-5">
            <input type="time" class="form-control" placeholder="Zeit">
        </div>
    </div>

    <br>
    <br>

    <center><h3>
        <button type="button" class="btn btn-default" aria-label="Center Align">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
        <span>17-12-2015</span>
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
    </h3>
    </center>


    <div class="row">
        <h4>Arbeitszeit</h4>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">Von</label>
        <div class="col-xs-4">
            <input type="time" class="form-control" placeholder="Zeit">
        </div>
        <label class="col-xs-2 control-label">bis</label>
        <div class="col-xs-4">
            <input type="time" class="form-control" placeholder="Zeit">
        </div>
    </div>
    <br>

    <div class="row">
        <label class="col-xs-5 control-label">Pausendauer</label>
        <div class="col-xs-5">
            <input type="time" class="form-control" placeholder="Zeit">
        </div>
    </div>
    <br>
    <br>

    <center><h3>
        <button type="button" class="btn btn-default" aria-label="Center Align">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
        <span>17-12-2015</span>
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
    </h3>
    </center>



    <div class="row">
        <label class="col-xs-2 control-label">Von</label>
        <div class="col-xs-4">
            <input type="time" class="form-control" placeholder="Zeit">
        </div>
        <label class="col-xs-2 control-label">bis</label>
        <div class="col-xs-4">
            <input type="time" class="form-control" placeholder="Zeit">
        </div>
    </div>
    <br>

    <div class="row">
        <label class="col-xs-5 control-label">Pausendauer</label>
        <div class="col-xs-5">
            <input type="time" class="form-control" placeholder="Zeit">
        </div>
    </div>
</div>
</body>
</html>